In [3]:
import psycopg2 as pg2
from psycopg2.extras import RealDictCursor
import pandas as pd
import numpy as np

In [36]:
import csv

In [1]:
def con_cur_to_bgg_db():
    con = pg2.connect(host='34.216.22.202',
                  dbname='postgres',
                  user='postgres')
    cur = con.cursor(cursor_factory=RealDictCursor)
    return con, cur

In [7]:
con, cur = con_cur_to_bgg_db()
cur.execute('SELECT * FROM dedupe d \
INNER JOIN test t \
ON d.uid = t.uid AND d.gid = t.gid \
WHERE gc > 1;')
results = cur.fetchall()
con.close()

In [8]:
df = pd.DataFrame(results)

In [10]:
df.sort_values('uid')

       gc     gid  rating     uid
34253   2  173346     9.5       7
34254   2  173346     9.0       7
22876   2    5206     8.0      24
22877   2    5206     6.0      24
11831   2   15512     6.0      24
706     2   92415     8.0      24
707     2   92415     7.0      24
11832   2   15512     5.0      24
981     2     553     7.0      38
13470   2    1797     5.0      38
980     2     553     7.5      38
13469   2    1797     6.0      38
3588    2   29676     6.5      38
32400   2    8207     7.5      38
3589    2   29676     6.0      38
32399   2    8207     8.0      38
11566   2    5576     7.5      38
11565   2    5576     8.0      38
36301   2   16443     7.5      38
36300   2   16443     8.0      38
17739   2   16992     6.0      48
5887    2    1568     7.0      48
5886    2    1568     8.0      48
17738   2   16992     8.0      48
3827    2  158275     8.0      51
3826    2  158275     8.5      51
32558   2   36218     6.0      53
32557   2   36218     7.0      53
10945   2   68858     7.5      53
10944   2   68858     8.5      53
...    ..     ...     ...     ...
20416   2  123885     7.0  135999
20415   2  123885     8.0  135999
16154   2   15512     6.0  136005
16155   2   15512     5.0  136005
5642    2   75165     8.5  136041
5641    2   75165     9.0  136041
12879   2  126792     8.0  136041
25259   2   56692     5.0  136041
25260   2   56692     3.0  136041
15198   2     124     8.0  136041
15197   2     124     8.5  136041
25659   2  106217     8.0  136041
25660   2  106217     7.5  136041
12878   2  126792     8.5  136041
34409   2    2453     6.0  136045
34410   2    2453     3.0  136045
27620   2     221     8.0  136083
27619   2     221     8.5  136083
28784   2  124742    10.0  136090
28785   2  124742     9.0  136090
4408    2   72125     7.0  136093
4407    2   72125     8.0  136093
21602   2    1294     7.0  136098
21603   2    1294     6.0  136098
9251    2  146278     7.7  136116
21563   2    3076     8.0  136116
21562   2    3076     8.5  136116
9250    2  146278     7.9  136116
17219   2   40270    10.0  136128
17220   2   40270     9.0  136128

[37373 rows x 4 columns]

In [11]:
37373/10957927

0.003410590342498175

In [13]:
grouped = df.groupby(['uid', 'gid']).mean()

In [18]:
grouped = grouped.drop('gc', axis=1)

In [23]:
include = grouped[grouped['rating'] >= 5.5]

In [24]:
len(include)

17074

In [25]:
include.head()

            rating
uid gid
7   173346    9.25
24  5206      7.00
    15512     5.50
    92415     7.50
38  553       7.25

In [28]:
include = include.round(2)

In [30]:
include.to_csv('../data/include')

In [41]:
with open('../data/include', 'r') as f:
    con, cur = con_cur_to_bgg_db()
    cur.copy_from(f, 'foo', sep=',')
    con.close()

In [37]:
with open('../data/include', 'r') as f:
    foo = f.read()

In [45]:
con, cur = con_cur_to_bgg_db()
cur.execute('INSERT INTO dedupe VALUES\
            {};'.format(", ".join(repr(e) for e in data)))
con.commit()
con.close()

In [42]:
with open('../data/include', 'r') as f:
    data=[tuple(line) for line in csv.reader(f)]